<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<!-- Credenciales de conexiòn -->
		<add name="ConexionBD"
			 connectionString="Server=localhost;Database=Grupo12;Uid=clubuser;Pwd=Grupo12;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- Credenciales de administrador -->
		<add key="AdminUser" value="Admin" />
		<add key="AdminPassword" value="Admin123" />
	</appSettings>
</configuration>
